Repository project-flogo/flogo-web, pull requests merged in 2019-11, with the labels that each got.

#1238 refactor(stream-client): implement simulation config popover as overlay
  libs/plugins/stream-client/src/lib/run-stream/configuration/simulation-configuration.component.less
  libs/plugins/stream-client/src/lib/run-stream/configuration/simulation-configuration.component.ts
  libs/plugins/stream-client/src/lib/run-stream/file-status/file-status.component.html
  libs/plugins/stream-client/src/lib/run-stream/run-stream.component.html
  libs/plugins/stream-client/src/lib/run-stream/run-stream.component.ts
  libs/plugins/stream-client/src/lib/run-stream/run-stream.module.ts
  libs/plugins/stream-client/src/lib/run-stream/run-stream.service.ts
Labels: area/ui, comp(plugins/stream-client), kind/refactor

#1241 merge: close upload popover on clicking run stream
  libs/plugins/stream-client/src/lib/run-stream/run-stream.component.ts
  libs/plugins/stream-client/src/lib/run-stream/run-stream.service.ts
Labels: kind/bug

#1244 auto stop simulation
  libs/plugins/stream-client/src/lib/core/effects/stream-save.effects.ts
Labels: kind/bug

#1240 fix add stage placeholders are missing in UI
  libs/plugins/stream-client/src/lib/stream-diagram/stream-diagram.component.ts
Labels: area/ui, comp(plugins/stream-client), kind/bug

#1250 Support the engine configuration file to the local engine
  apps/server/src/config/app-config.js
  apps/server/src/config/default-flogo.json
  apps/server/src/config/engine.json
  apps/server/src/init/bootstrap-engine.ts
  apps/server/src/modules/engine/engine.ts
Labels: area/server, comp(server), kind/feature

#1253 Revert "Support the engine configuration file to the local engine"
  apps/server/src/config/app-config.js
  apps/server/src/config/default-flogo.json
  apps/server/src/config/engine.json
  apps/server/src/init/bootstrap-engine.ts
  apps/server/src/modules/engine/engine.ts
Labels: kind/bug

#1257 [Temp] Fix the build step of server start up
  apps/server/src/modules/engine/registry.ts
  apps/server/src/modules/engine/temp-install-simulator-deps.ts
Labels: area/cli, area/server, kind/bug

#1256 Separated test engine configuration from the actual application JSON
  apps/server/src/config/app-config.js
  apps/server/src/config/default-flogo.json
  apps/server/src/config/test-engine.config.json
  apps/server/src/configure-engines.ts
  apps/server/src/init/bootstrap-engine.ts
  apps/server/src/modules/engine/engine.ts
  apps/server/src/modules/engine/registry.ts
Labels: area/server, comp(server)
