Repository project-flogo/flogo-web, pull requests merged in 2019-04, with the labels that each got.

#1077 fix(plugins-flow-server): Subflow input mappings are lost for V0.9.0 app
  libs/plugins/flow-server/src/lib/import/task-converter.ts
Labels: area/server, kind/bug

#1081 fix(plugins-flow-client): Application description is missing
  apps/client/src/flogo/app/app-detail/app-detail.component.html
  apps/client/src/flogo/app/app-detail/app-detail.component.ts
  apps/client/src/flogo/app/core/application-detail.interface.ts
  libs/plugins/flow-client/src/lib/flow.component.html
Labels: area/ui, kind/bug

#1080 [1068] Showing latest list of applications
  apps/client/src/flogo/app/app-detail/app-detail.component.html
  apps/client/src/flogo/app/app-detail/app-detail.component.spec.ts
  apps/client/src/flogo/app/app-detail/app-detail.component.ts
  apps/client/src/flogo/app/core/app-resources-state.service.ts
  apps/client/src/flogo/app/core/apps.service.spec.ts
  apps/client/src/flogo/app/core/apps.service.ts
  apps/client/src/flogo/app/core/get-shim-build-options.ts
  apps/client/src/flogo/app/core/index.ts
Labels: area/ui, comp(client), kind/bug

#1084 [1044] Remove empty object for appModel properties while exporting
  apps/server/src/modules/transfer/export/app-formatter/app-formatter.ts
  apps/server/src/modules/transfer/export/app-formatter/handler-format.ts
Labels: area/server, kind/bug

#1085 [1071] Align byte icon in mapper
  libs/plugins/flow-client/src/lib/shared/mapper/shared/icons.component.ts
Labels: comp(plugins/flow-client), kind/bug
