Repository project-flogo/flogo-web, pull requests merged in 2019-08, with the labels that each got.

#1143 [part of 1123] Implemented diagram module for streams to design the stream stages
  apps/client/src/i18n/en.json
  libs/lib-client/core/src/interfaces/graph/graph.ts
  libs/lib-client/core/src/interfaces/graph/index.ts
  libs/plugins/stream-client/src/lib/core/effects/stream-save.effects.ts
  libs/plugins/stream-client/src/lib/core/models/generate-resource-from-state.ts
  libs/plugins/stream-client/src/lib/core/models/graph-and-items/graph-creator.ts
  libs/plugins/stream-client/src/lib/core/models/graph-and-items/stage-creator.ts
  libs/plugins/stream-client/src/lib/core/models/handler-type.ts
  libs/plugins/stream-client/src/lib/core/models/selection.ts
  libs/plugins/stream-client/src/lib/core/models/stream/selection.ts
  libs/plugins/stream-client/src/lib/core/state/cases/remove-stage.ts
  libs/plugins/stream-client/src/lib/core/state/index.ts
  libs/plugins/stream-client/src/lib/core/state/stream.actions.ts
  libs/plugins/stream-client/src/lib/core/state/stream.reducers.ts
  libs/plugins/stream-client/src/lib/core/state/stream.selectors.ts
  libs/plugins/stream-client/src/lib/core/stream.service.ts
  libs/plugins/stream-client/src/lib/stream-client.module.ts
  libs/plugins/stream-client/src/lib/stream-designer/stream-designer.component.html
  libs/plugins/stream-client/src/lib/stream-designer/stream-designer.component.less
  libs/plugins/stream-client/src/lib/stream-diagram/index.ts
  libs/plugins/stream-client/src/lib/stream-diagram/stream-diagram.component.html
  libs/plugins/stream-client/src/lib/stream-diagram/stream-diagram.component.less
  libs/plugins/stream-client/src/lib/stream-diagram/stream-diagram.component.spec.ts
  libs/plugins/stream-client/src/lib/stream-diagram/stream-diagram.component.ts
Labels: area/ui, comp(plugins/stream-client), status/in-progress

#1145 [1123] Allow adding activities as stages in streams
  apps/client/src/i18n/en.json
  libs/plugins/stream-client/src/lib/core/effects/stream-save.effects.ts
  libs/plugins/stream-client/src/lib/core/interfaces/index.ts
  libs/plugins/stream-client/src/lib/core/interfaces/items.ts
  libs/plugins/stream-client/src/lib/core/interfaces/task.ts
  libs/plugins/stream-client/src/lib/core/models/graph-and-items/graph-creator.ts
  libs/plugins/stream-client/src/lib/core/models/index.ts
  libs/plugins/stream-client/src/lib/core/models/unique-stage-name.spec.ts
  libs/plugins/stream-client/src/lib/core/models/unique-stage-name.ts
  libs/plugins/stream-client/src/lib/core/state/cases/stage-item-created.ts
  libs/plugins/stream-client/src/lib/core/state/index.ts
  libs/plugins/stream-client/src/lib/core/state/stream.actions.ts
  libs/plugins/stream-client/src/lib/core/state/stream.reducers.ts
  libs/plugins/stream-client/src/lib/core/state/stream.selectors.ts
  libs/plugins/stream-client/src/lib/stage-add/activity-list/activity-list.component.html
  libs/plugins/stream-client/src/lib/stage-add/activity-list/activity-list.component.less
  libs/plugins/stream-client/src/lib/stage-add/activity-list/activity-list.component.ts
  libs/plugins/stream-client/src/lib/stage-add/activity-list/activity.component.html
  libs/plugins/stream-client/src/lib/stage-add/activity-list/activity.component.less
  libs/plugins/stream-client/src/lib/stage-add/activity-list/activity.component.ts
  libs/plugins/stream-client/src/lib/stage-add/add-activity.service.ts
  libs/plugins/stream-client/src/lib/stage-add/add-stage.directive.ts
  libs/plugins/stream-client/src/lib/stage-add/core/filter-activities-by.ts
  libs/plugins/stream-client/src/lib/stage-add/core/stage-add-options.ts
  libs/plugins/stream-client/src/lib/stage-add/index.ts
  libs/plugins/stream-client/src/lib/stage-add/models/profile/calculate-next-id.ts
  libs/plugins/stream-client/src/lib/stage-add/models/profile/index.ts
  libs/plugins/stream-client/src/lib/stage-add/models/profile/stage-id-generator.spec.ts
  libs/plugins/stream-client/src/lib/stage-add/models/profile/stage-id-generator.ts
  libs/plugins/stream-client/src/lib/stage-add/models/stage-add-action-creator.ts
  libs/plugins/stream-client/src/lib/stage-add/models/stage-factories.spec.ts
  libs/plugins/stream-client/src/lib/stage-add/models/stage-factories.ts
  libs/plugins/stream-client/src/lib/stage-add/stage-add.component.html
  libs/plugins/stream-client/src/lib/stage-add/stage-add.component.less
  libs/plugins/stream-client/src/lib/stage-add/stage-add.component.spec.ts
  libs/plugins/stream-client/src/lib/stage-add/stage-add.component.ts
  libs/plugins/stream-client/src/lib/stage-add/stage-add.module.ts
  libs/plugins/stream-client/src/lib/stream-client.module.ts
  libs/plugins/stream-client/src/lib/stream-diagram/stream-diagram.component.html
Labels: area/ui, comp(plugins/stream-client)

#1148 feat(stream-client): implement delete stream
  apps/client/src/i18n/en.json
  libs/lib-client/core/src/services/app-resource.service.ts
  libs/plugins/stream-client/src/lib/core/stream.service.ts
  libs/plugins/stream-client/src/lib/stream-designer/stream-designer.component.ts
Labels: area/ui, comp(plugins/stream-client), kind/feature

#1146 Streams resource interface
  apps/client/src/assets/main.less
  apps/client/src/i18n/en.json
  libs/assets/styles/_variables.less
  libs/core/src/lib/mapper/index.ts
  libs/core/src/lib/mapper/is-mapper-activity.spec.ts
  libs/core/src/lib/mapper/is-mapper-activity.ts
  libs/plugins/stream-client/src/lib/core/effects/stream-save.effects.ts
  libs/plugins/stream-client/src/lib/core/effects/trigger-mappings.effects.ts
  libs/plugins/stream-client/src/lib/core/models/generate-resource-from-state.ts
  libs/plugins/stream-client/src/lib/core/models/generate-state-from-resource.ts
  libs/plugins/stream-client/src/lib/core/state/clean-dangling-tasks-output-mappings.ts
  libs/plugins/stream-client/src/lib/core/state/stream.actions.ts
  libs/plugins/stream-client/src/lib/core/state/stream.reducers.ts
  libs/plugins/stream-client/src/lib/core/state/stream.state.ts
  libs/plugins/stream-client/src/lib/core/state/triggers-configure/cases/tab-base-by-profile.ts
  libs/plugins/stream-client/src/lib/params-schema/button/button.component.html
  libs/plugins/stream-client/src/lib/params-schema/button/button.component.less
  libs/plugins/stream-client/src/lib/params-schema/button/button.component.ts
  libs/plugins/stream-client/src/lib/params-schema/index.ts
  libs/plugins/stream-client/src/lib/params-schema/param-row-input/param-row-input.component.html
  libs/plugins/stream-client/src/lib/params-schema/param-row-input/param-row-input.component.less
  libs/plugins/stream-client/src/lib/params-schema/param-row-input/param-row-input.component.ts
  libs/plugins/stream-client/src/lib/params-schema/param-row-output/param-row-output.component.html
  libs/plugins/stream-client/src/lib/params-schema/param-row-output/param-row-output.component.less
  libs/plugins/stream-client/src/lib/params-schema/param-row-output/param-row-output.component.ts
  libs/plugins/stream-client/src/lib/params-schema/params-schema.component.html
  libs/plugins/stream-client/src/lib/params-schema/params-schema.component.less
  libs/plugins/stream-client/src/lib/params-schema/params-schema.component.ts
  libs/plugins/stream-client/src/lib/params-schema/params-schema.module.ts
  libs/plugins/stream-client/src/lib/stream-client.module.ts
  libs/plugins/stream-client/src/lib/stream-designer/stream-designer.component.html
  libs/plugins/stream-client/src/lib/stream-designer/stream-designer.component.less
  libs/plugins/stream-client/src/lib/stream-designer/stream-designer.component.ts
  libs/plugins/stream-client/src/lib/stream-diagram/stream-diagram.component.less
  libs/plugins/stream-client/src/lib/triggers/configurator/interfaces/configurator.ts
  libs/plugins/stream-client/src/lib/triggers/configurator/trigger-detail/trigger-detail.component.html
  libs/plugins/stream-core/src/index.ts
  libs/plugins/stream-core/src/lib/interfaces/stream-metadata.ts
Labels: area/ui, comp(plugins/stream-client), kind/feature

#1156 [1149] Exporting application supports stream resources
  apps/server/src/modules/transfer/export/action-agent/create-action-agent.ts
  apps/server/src/modules/transfer/export/app-formatter/app-formatter.ts
  apps/server/src/modules/transfer/export/app-formatter/handler-format.ts
  apps/server/src/modules/transfer/export/export-app.spec.ts
  libs/core/src/lib/engine/interfaces.ts
  libs/lib-server/core/src/lib/extensions/resource-exporter.ts
  libs/plugins/stream-core/src/index.ts
  libs/plugins/stream-core/src/lib/engine.ts
  libs/plugins/stream-core/src/lib/interfaces/index.ts
  libs/plugins/stream-core/src/lib/stream.ts
  libs/plugins/stream-server/src/lib/export/format-stages.ts
  libs/plugins/stream-server/src/lib/export/index.ts
  libs/plugins/stream-server/src/lib/export/register-action.ts
  libs/plugins/stream-server/src/lib/export/resource.ts
  libs/plugins/stream-server/src/lib/stream-server.ts
Labels: area/server, comp(plugins/stream-server), comp(server), kind/feature

#1159 Integrating context-panel component into flow client
  apps/client/src/i18n/en.json
  libs/plugins/flow-client/src/lib/debug-panel/debug-panel.component.html
  libs/plugins/flow-client/src/lib/debug-panel/debug-panel.component.less
  libs/plugins/flow-client/src/lib/debug-panel/debug-panel.component.ts
  libs/plugins/flow-client/src/lib/debug-panel/debug-panel.module.ts
  libs/plugins/flow-client/src/lib/debug-panel/header-toggler/header-toggler.component.html
  libs/plugins/flow-client/src/lib/debug-panel/header-toggler/header-toggler.component.less
  libs/plugins/flow-client/src/lib/debug-panel/header-toggler/header-toggler.component.ts
  libs/plugins/flow-client/src/lib/debug-panel/header-toggler/toggle-icon.component.html
  libs/plugins/flow-client/src/lib/debug-panel/header-toggler/toggle-icon.component.less
  libs/plugins/flow-client/src/lib/debug-panel/header-toggler/toggle-icon.component.ts
  libs/plugins/flow-client/src/lib/debug-panel/index.ts
  libs/plugins/flow-client/src/lib/debug-panel/panel-content/panel-content.component.html
  libs/plugins/flow-client/src/lib/debug-panel/panel-content/panel-content.component.less
  libs/plugins/flow-client/src/lib/debug-panel/panel-content/panel-content.component.ts
  libs/plugins/flow-client/src/lib/debug-panel/toggle-button/toggle-button.component.html
  libs/plugins/flow-client/src/lib/debug-panel/toggle-button/toggle-button.component.less
  libs/plugins/flow-client/src/lib/debug-panel/toggle-button/toggle-button.component.ts
  libs/plugins/flow-client/src/lib/debug-panel/toggler-ref.service.ts
  libs/plugins/flow-client/src/lib/flow.component.html
  libs/plugins/flow-client/src/lib/flow.component.less
  libs/plugins/flow-client/src/lib/flow.component.ts
  libs/plugins/flow-client/src/lib/flow.module.ts
Labels: area/ui, comp(client), comp(plugins/flow-client)
