Repository project-flogo/flogo-web, pull requests merged in 2019-05, with the labels that each got.

#1091 fix(server): remove schema normalization logic
  apps/server/src/common/contrib-schema-normalize.js
Labels: area/server

#1092 Fix empty handler mappings
  apps/server/src/config/sample-app.json
  apps/server/src/modules/transfer/common/normalize-handler-mappings.ts
  apps/server/src/modules/transfer/export/app-formatter/handler-format.spec.ts
  apps/server/src/modules/transfer/export/app-formatter/handler-format.ts
  libs/core/src/lib/engine/interfaces.ts
Labels: area/server, kind/bug, priority/P0

#1093 fix: showing proper validation message if trying to import contributions that are not installed
  apps/client/src/flogo/home/core/import-error-formatter.service.ts
  apps/client/src/i18n/en.json
  apps/server/src/modules/transfer/import/import-app.ts
Labels: area/server, area/ui

#1088 fix(client): Import: error message is not described well for an unknown handler
  apps/client/src/flogo/home/core/import-error-formatter.service.ts
  apps/client/src/i18n/en.json
Labels: area/ui, kind/bug

#1100 Removed bs-modal and used cdk-modal for import-errors modal component.
  apps/client/src/flogo/home/app-import/app-import.component.spec.ts
  apps/client/src/flogo/home/app-import/app-import.component.ts
  apps/client/src/flogo/home/app-import/mocks/error.response.mock.ts
  apps/client/src/flogo/home/apps-list/apps-list.component.html
  apps/client/src/flogo/home/apps-list/apps-list.component.spec.ts
  apps/client/src/flogo/home/apps-list/apps-list.component.ts
  apps/client/src/flogo/home/core/import-error-formatter.spec.ts
  apps/client/src/flogo/home/home.module.ts
  apps/client/src/flogo/home/import-errors/import-errors.component.html
  apps/client/src/flogo/home/import-errors/import-errors.component.less
  apps/client/src/flogo/home/import-errors/import-errors.component.spec.ts
  apps/client/src/flogo/home/import-errors/import-errors.component.ts
Labels: area/ui, comp(client)
