Repository project-flogo/flogo-web, pull requests merged in 2019-10, with the labels that each got.

#1206 fix(server): unable to install contributions
  apps/server/src/modules/contrib-install-controller/index.ts
Labels: area/server, kind/bug

#1207 fix: scroll issues in mapper screens
  libs/assets/styles/_mapper-modal.less
  libs/plugins/flow-client/src/lib/shared/mapper/list/list.component.less
  libs/plugins/stream-client/src/lib/shared/mapper/list/list.component.less
Labels: kind/bug

#1205 docs: update PR and issue templates and enhancements to CONTRIBUTING.MD
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  README.md
Labels: area/docs

#1216 feat(lib-client): enhancements to search component
  apps/demo-libs/src/app/search/search.component.html
  apps/demo-libs/src/app/search/search.component.less
  apps/demo-libs/src/app/search/search.component.ts
  libs/assets/styles/uxpl/search.less
  libs/lib-client/search/README.md
  libs/lib-client/search/src/index.ts
  libs/lib-client/search/src/local-search.provider.ts
  libs/lib-client/search/src/local-search.ts
  libs/lib-client/search/src/search/search.component.html
  libs/lib-client/search/src/search/search.component.less
  libs/lib-client/search/src/search/search.component.ts
Labels: area/ui

#1214 1180 - ensure stage/task has name
  libs/core/src/index.ts
  libs/core/src/lib/normalize-activity-name.ts
  libs/lib-client/common/src/lib/utils.ts
  libs/plugins/flow-client/src/lib/core/interfaces/flow/items.ts
  libs/plugins/flow-client/src/lib/task-add/models/task-add-action-creator.ts
  libs/plugins/flow-client/src/lib/task-configurator/models/save-action-creator.ts
  libs/plugins/flow-client/src/lib/task-configurator/task-configurator.component.ts
  libs/plugins/flow-core/src/index.ts
  libs/plugins/flow-core/src/lib/base-item.ts
  libs/plugins/flow-core/src/lib/constants.ts
  libs/plugins/flow-core/src/lib/unique-task-name/index.ts
  libs/plugins/flow-core/src/lib/unique-task-name/unique-task-name.spec.ts
  libs/plugins/flow-core/src/lib/unique-task-name/unique-task-name.ts
  libs/plugins/flow-server/src/lib/import/action-importer.spec.ts
  libs/plugins/flow-server/src/lib/import/action-importer.ts
  libs/plugins/flow-server/src/lib/import/task-converter.ts
  libs/plugins/stream-client/src/lib/core/models/index.ts
  libs/plugins/stream-client/src/lib/stage-add/models/stage-add-action-creator.ts
  libs/plugins/stream-client/src/lib/stage-configurator/stage-configurator.component.ts
  libs/plugins/stream-core/src/index.ts
  libs/plugins/stream-core/src/lib/interfaces/base-item.ts
  libs/plugins/stream-core/src/lib/interfaces/index.ts
  libs/plugins/stream-core/src/lib/unique-stage-name/index.ts
  libs/plugins/stream-core/src/lib/unique-stage-name/unique-stage-name.spec.ts
  libs/plugins/stream-core/src/lib/unique-stage-name/unique-stage-name.ts
  libs/plugins/stream-server/src/lib/import/stream.ts
Labels: kind/bug

#1213 fix: ensure resource has name with uniqueness
  apps/server/src/common/utils/ensure-unique-resource.ts
  apps/server/src/modules/resources/resource-service.ts
  apps/server/src/modules/transfer/import/import-app.ts
Labels: area/server, kind/bug

#1221 fix: remove hard coded logic, disable run stream button
  apps/server/src/api/v2/resources/get-file-names-in-dir.ts
  apps/server/src/api/v2/resources/get-sim-data-path.ts
  apps/server/src/api/v2/resources/get-simulation-data-path.ts
  apps/server/src/api/v2/resources/routes.ts
  libs/plugins/stream-client/src/lib/run-stream/run-stream-button/action-status.component.html
  libs/plugins/stream-client/src/lib/run-stream/run-stream-button/action-status.component.ts
  libs/plugins/stream-client/src/lib/run-stream/run-stream-button/run-stream-button.component.html
  libs/plugins/stream-client/src/lib/run-stream/run-stream-button/run-stream-button.component.ts
  libs/plugins/stream-client/src/lib/stream-designer/stream-designer.component.html
  libs/plugins/stream-client/src/lib/stream-designer/stream-designer.component.ts
Labels: area/server, area/ui, kind/bug

#1220 [1153] Deleting a resource will clean the triggers and handlers
  apps/server/src/modules/apps/handlers-service.ts
  apps/server/src/modules/apps/triggers.ts
  apps/server/src/modules/resources/resource-service.ts
  libs/lib-client/core/src/services/app-resource.service.ts
  libs/plugins/flow-client/src/lib/core/flow.service.ts
  libs/plugins/flow-client/src/lib/flow.component.ts
  libs/plugins/stream-client/src/lib/core/stream.service.ts
Labels: area/server, comp(server), kind/bug

#1222 [1196] - Made handlers as a required property of the triggers
  libs/lib-server/core/src/lib/schemas/v1.0.0/tests/app.spec.ts
  libs/lib-server/core/src/lib/schemas/v1.0.0/trigger.json
Labels: area/server, comp(server), kind/bug

#1226 fix: delete previous uploaded csv files
  apps/server/src/api/v2/file-upload.ts
Labels: comp(plugins/stream-server), kind/bug

#1231 fix: subscribe to simulation process status
  libs/plugins/stream-client/src/lib/run-stream/run-stream-button/run-stream-button.component.html
Labels: kind/bug

#1233 fix: unable to retrieve file details
  apps/server/src/api/v2/file-upload.ts
  apps/server/src/api/v2/resources/get-simulation-data-path.ts
  apps/server/src/api/v2/resources/remove-simulation-data.ts
  libs/plugins/stream-client/src/lib/run-stream/run-stream.component.ts
Labels: kind/bug
