Repository project-flogo/flogo-web, pull requests merged in 2019-09, with the labels that each got.

#1164 [1150] Supports streams while importing an application
  apps/server/src/modules/transfer/import/import-app.ts
  apps/server/src/modules/transfer/import/imports/extract-actions.ts
  apps/server/src/modules/transfer/import/imports/index.ts
  libs/lib-server/core/src/lib/extensions/resource-importer.ts
  libs/lib-server/core/src/lib/schemas/v1.0.0/action.json
  libs/lib-server/core/src/lib/schemas/v1.0.0/app.json
  libs/lib-server/core/src/lib/schemas/v1.0.0/common.json
  libs/lib-server/core/src/lib/schemas/v1.0.0/flow.json
  libs/lib-server/core/src/lib/schemas/v1.0.0/index.ts
  libs/lib-server/core/src/lib/schemas/v1.0.0/tests/app.spec.ts
  libs/lib-server/core/src/lib/schemas/v1.0.0/tests/common.spec.ts
  libs/lib-server/core/src/lib/schemas/v1.0.0/tests/flow.spec.ts
  libs/lib-server/core/src/lib/schemas/v1.0.0/trigger.json
  libs/plugins/flow-server/src/lib/export/tests/export.spec.ts
  libs/plugins/flow-server/src/lib/import/action-importer.spec.ts
  libs/plugins/stream-core/src/lib/engine.ts
  libs/plugins/stream-server/src/lib/constants.ts
  libs/plugins/stream-server/src/lib/export/format-stages.ts
  libs/plugins/stream-server/src/lib/export/register-action.ts
  libs/plugins/stream-server/src/lib/import/handler.ts
  libs/plugins/stream-server/src/lib/import/index.ts
  libs/plugins/stream-server/src/lib/import/make-resource-validator.ts
  libs/plugins/stream-server/src/lib/import/schemas/action-settings.json
  libs/plugins/stream-server/src/lib/import/schemas/index.ts
  libs/plugins/stream-server/src/lib/import/schemas/resource.json
  libs/plugins/stream-server/src/lib/import/schemas/stream-data.json
  libs/plugins/stream-server/src/lib/import/stream.ts
  libs/plugins/stream-server/src/lib/stream-server.ts
Labels: area/server, comp(plugins/stream-server), kind/feature

#1175 fix(server): engine not starting due to wrong default resource
  apps/server/src/config/default-flogo.json
Labels: area/server, comp(server), kind/bug

#1176 preparation for support for stream simulator
  apps/server/src/api/ws/engine-log-streamer.ts
  apps/server/src/api/ws/index.js
  apps/server/src/api/ws/index.ts
  apps/server/src/core/tokens.ts
  apps/server/src/injector/engine/module.ts
  apps/server/src/injector/root.ts
  apps/server/src/modules/apps/build.ts
  apps/server/src/modules/engine/commander/build.ts
  apps/server/src/modules/engine/commander/merge-env-with-opts.ts
  apps/server/src/modules/engine/engine.ts
  apps/server/src/modules/engine/index.ts
  apps/server/src/modules/engine/options.ts
  apps/server/src/modules/engine/registry.ts
  package.json
  yarn.lock
Labels: area/server, comp(server)

#1174 fix(client): logs are not displayed
  libs/lib-client/core/src/services/log.service.ts
Labels: area/ui, comp(client), kind/bug

#1186 Part of 1173 - Added resourceType to plugin structure
  apps/server/src/extension/porting.ts
  apps/server/src/modules/apps/app-exporter.ts
  apps/server/src/modules/apps/app-importer.ts
  apps/server/src/modules/transfer/export/app-formatter/app-formatter.ts
  apps/server/src/modules/transfer/export/export-app.spec.ts
  apps/server/src/modules/transfer/export/export-app.ts
  apps/server/src/modules/transfer/export/exporter.ts
  apps/server/src/modules/transfer/import/import-app.spec.ts
  apps/server/src/modules/transfer/import/import-app.ts
  libs/lib-server/core/src/lib/extensions/plugin.ts
  libs/lib-server/core/src/lib/extensions/resource-exporter.ts
  libs/plugins/flow-server/src/lib/plugin.ts
  libs/plugins/stream-server/src/lib/stream-server.ts
Labels: area/server, area/ui, comp(plugins/flow-server), comp(plugins/stream-server), kind/feature, priority/P0, status/release-candidate

#1183 fix: show trigger outputs and stream outputs in available data while configuring a trigger
  libs/plugins/stream-client/src/lib/shared/mapper/services/mapper-controller/mapper-controller-factory.service.ts
  libs/plugins/stream-client/src/lib/shared/mapper/utils/mapper-translator.ts
  libs/plugins/stream-client/src/lib/stage-configurator/stage-configurator.component.ts
  libs/plugins/stream-client/src/lib/triggers/configurator/trigger-detail/settings/form-field/form-field.component.html
Labels: area/cli, comp(plugins/stream-client), kind/bug

#1172 fix(stream-client): remove dangling output mappings when an output is deleted
  libs/plugins/stream-client/src/lib/core/constants.ts
  libs/plugins/stream-client/src/lib/core/state/clean-dangling-tasks-output-mappings.ts
  libs/plugins/stream-client/src/lib/core/state/stream.reducers.ts
  libs/plugins/stream-client/src/lib/shared/mapper/constants.ts
  libs/plugins/stream-client/src/lib/shared/mapper/index.ts
  libs/plugins/stream-client/src/lib/shared/mapper/services/mapper-controller/mapper-controller-factory.service.ts
  libs/plugins/stream-client/src/lib/shared/mapper/utils/mapper-translator.ts
  libs/plugins/stream-client/src/lib/stage-configurator/stage-configurator.component.ts
Labels: area/ui, comp(plugins/stream-client), kind/bug

#1198 fix(build): remove "SourceMap" warnings added by perspective webpack plugin
  angular.json
  extra-webpack.config.js
Labels: kind/bug

#1179 Added validation for update and create stream actions in server
  libs/plugins/stream-server/src/lib/constants.ts
  libs/plugins/stream-server/src/lib/hooks.ts
  libs/plugins/stream-server/src/lib/import/handler.ts
  libs/plugins/stream-server/src/lib/import/index.ts
  libs/plugins/stream-server/src/lib/import/make-resource-validator.ts
  libs/plugins/stream-server/src/lib/import/schemas/index.ts
  libs/plugins/stream-server/src/lib/is-stream-resource.ts
  libs/plugins/stream-server/src/lib/schemas/action-settings.json
  libs/plugins/stream-server/src/lib/schemas/common.json
  libs/plugins/stream-server/src/lib/schemas/index.ts
  libs/plugins/stream-server/src/lib/schemas/internal-schema.json
  libs/plugins/stream-server/src/lib/schemas/resource.json
  libs/plugins/stream-server/src/lib/schemas/stream-data.json
  libs/plugins/stream-server/src/lib/stream-server.ts
Labels: area/server, comp(plugins/stream-server), kind/feature
