Repository project-flogo/flogo-web, pull requests merged in 2019-06, with the labels that each got.

#1104 refactor: remove contribution type differentiation
  apps/server/src/api/v2/contribs/microservices/index.ts
  apps/server/src/api/v2/runner/processes/find-and-export-flow.ts
  apps/server/src/common/constants.ts
  apps/server/src/common/db/activities.js
  apps/server/src/common/db/contributions.ts
  apps/server/src/common/db/functions.js
  apps/server/src/common/db/index.ts
  apps/server/src/common/db/triggers.js
  apps/server/src/core/tokens.ts
  apps/server/src/injector/models/module.ts
  apps/server/src/modules/activities/index.ts
  apps/server/src/modules/all-contribs/all-contribs.service.ts
  apps/server/src/modules/apps/triggers.ts
  apps/server/src/modules/base-registered/index.js
  apps/server/src/modules/contrib-install-controller/sync-tasks.js
  apps/server/src/modules/contrib-installer/microservice/install.ts
  apps/server/src/modules/contribs/contributions-service.ts
  apps/server/src/modules/contributions/index.ts
  apps/server/src/modules/engine/commander/index.ts
  apps/server/src/modules/engine/engine.ts
  apps/server/src/modules/engine/loader.js
  apps/server/src/modules/engine/registry.ts
  apps/server/src/modules/functions/index.ts
  apps/server/src/modules/triggers/constants.ts
  apps/server/src/modules/triggers/index.ts
  libs/lib-client/core/src/services/restapi/v2/contributions.service.ts
  libs/plugins/flow-client/src/lib/shared/installer/installer.component.ts
  libs/plugins/flow-client/src/lib/shared/installer/url-installer/url-installer.component.ts
  libs/plugins/flow-client/src/lib/task-add/task-add.component.html
  libs/plugins/flow-client/src/lib/triggers/triggers.component.html
Labels: area/server, area/ui, kind/enhancement, kind/refactor

#1108 ci: independent UI image tag and push to docker on master build success
  .build_tags
  .travis.yml
  make-web.sh
Labels: area/build-and-ci

#1113 feat(client): global installation of contributions
  apps/client/src/flogo/core/core.module.ts
  apps/client/src/flogo/core/navbar/navbar.component.less
  apps/client/src/flogo/core/navbar/navbar.component.ts
  apps/client/src/flogo/core/navbar/navbar.tpl.html
  apps/client/src/flogo/flogo.module.ts
  libs/lib-client/contrib-installer/src/index.ts
  libs/lib-client/contrib-installer/src/lib/constants.ts
  libs/lib-client/contrib-installer/src/lib/contrib-installer.component.html
  libs/lib-client/contrib-installer/src/lib/contrib-installer.component.less
  libs/lib-client/contrib-installer/src/lib/contrib-installer.component.ts
  libs/lib-client/contrib-installer/src/lib/contrib-installer.module.ts
  libs/lib-client/contrib-installer/src/lib/contrib-installer.service.ts
  libs/lib-client/contrib-installer/src/lib/url-installer/url-installer.component.html
  libs/lib-client/contrib-installer/src/lib/url-installer/url-installer.component.less
  libs/lib-client/contrib-installer/src/lib/url-installer/url-installer.component.ts
  libs/lib-client/contrib-installer/tslint.json
  libs/plugins/flow-client/src/lib/core/state/flow/flow.actions.ts
  libs/plugins/flow-client/src/lib/core/state/flow/flow.reducer.ts
  libs/plugins/flow-client/src/lib/flow.component.ts
  libs/plugins/flow-client/src/lib/shared/installer/index.ts
  libs/plugins/flow-client/src/lib/task-add/add-activity.service.ts
  libs/plugins/flow-client/src/lib/task-add/core/task-add-options.ts
  libs/plugins/flow-client/src/lib/task-add/task-add.component.html
  libs/plugins/flow-client/src/lib/task-add/task-add.component.spec.ts
  libs/plugins/flow-client/src/lib/task-add/task-add.component.ts
  libs/plugins/flow-client/src/lib/task-add/task-add.module.ts
  libs/plugins/flow-client/src/lib/triggers/triggers.component.html
  libs/plugins/flow-client/src/lib/triggers/triggers.component.spec.ts
  libs/plugins/flow-client/src/lib/triggers/triggers.module.ts
  tsconfig.json
Labels: area/ui, kind/feature

#1114 Extracted the header component as a client library
  libs/lib-client/header/src/index.ts
  libs/lib-client/header/src/lib/header.component.html
  libs/lib-client/header/src/lib/header.component.less
  libs/lib-client/header/src/lib/header.component.spec.ts
  libs/lib-client/header/src/lib/header.component.ts
  libs/lib-client/header/src/lib/header.module.spec.ts
  libs/lib-client/header/src/lib/header.module.ts
  libs/lib-client/header/tslint.json
  tsconfig.json
Labels: area/ui, comp(plugins/flow-client), kind/refactor

#1117 refactor(client): update styles of global install button, move global install from bootstrap modal to cdk overlay
  apps/client/src/flogo/core/core.module.ts
  apps/client/src/flogo/core/navbar/navbar.component.less
  apps/client/src/flogo/core/navbar/navbar.component.ts
  apps/client/src/flogo/core/navbar/navbar.tpl.html
  libs/lib-client/contrib-installer/src/index.ts
  libs/lib-client/contrib-installer/src/lib/contrib-installer.component.html
  libs/lib-client/contrib-installer/src/lib/contrib-installer.component.less
  libs/lib-client/contrib-installer/src/lib/contrib-installer.component.ts
  libs/lib-client/contrib-installer/src/lib/contrib-installer.module.ts
  libs/lib-client/contrib-installer/src/lib/url-installer/url-installer.component.html
  libs/lib-client/contrib-installer/src/lib/url-installer/url-installer.component.ts
  libs/lib-client/modal/src/modal-control.ts
  libs/lib-client/modal/src/modal.service.ts
  libs/plugins/flow-client/src/lib/task-add/task-add.component.html
  libs/plugins/flow-client/src/lib/task-add/task-add.component.spec.ts
  libs/plugins/flow-client/src/lib/task-add/task-add.component.ts
  libs/plugins/flow-client/src/lib/triggers/triggers.component.html
  libs/plugins/flow-client/src/lib/triggers/triggers.component.spec.ts
  libs/plugins/flow-client/src/lib/triggers/triggers.component.ts
Labels: area/ui, kind/enhancement

#1116 feat(flow): enhancements to 'add activity' panel
  libs/plugins/flow-client/src/lib/core/state/flow/flow.selectors.ts
  libs/plugins/flow-client/src/lib/task-add/activity-list/activity-list.component.html
  libs/plugins/flow-client/src/lib/task-add/activity-list/activity-list.component.less
  libs/plugins/flow-client/src/lib/task-add/activity-list/activity-list.component.ts
  libs/plugins/flow-client/src/lib/task-add/activity-list/activity.component.html
  libs/plugins/flow-client/src/lib/task-add/activity-list/activity.component.less
  libs/plugins/flow-client/src/lib/task-add/activity-list/activity.component.ts
  libs/plugins/flow-client/src/lib/task-add/add-activity.service.ts
  libs/plugins/flow-client/src/lib/task-add/core/task-add-options.ts
  libs/plugins/flow-client/src/lib/task-add/task-add.component.html
  libs/plugins/flow-client/src/lib/task-add/task-add.component.less
  libs/plugins/flow-client/src/lib/task-add/task-add.component.spec.ts
  libs/plugins/flow-client/src/lib/task-add/task-add.component.ts
  libs/plugins/flow-client/src/lib/task-add/task-add.module.ts
Labels: comp(plugins/flow-client), kind/enhancement

#1120 Reusable context panel
  apps/demo-libs-e2e/src/integration/context-panel.spec.ts
  apps/demo-libs-e2e/src/support/helpers.ts
  apps/demo-libs/src/app/app.component.ts
  apps/demo-libs/src/app/app.module.ts
  apps/demo-libs/src/app/context-panel/context-panel.component.html
  apps/demo-libs/src/app/context-panel/context-panel.component.less
  apps/demo-libs/src/app/context-panel/context-panel.component.ts
  libs/lib-client/context-panel/src/context-panel-area.component.html
  libs/lib-client/context-panel/src/context-panel-area.component.less
  libs/lib-client/context-panel/src/context-panel-area.component.ts
  libs/lib-client/context-panel/src/context-panel.animations.ts
  libs/lib-client/context-panel/src/context-panel.module.ts
  libs/lib-client/context-panel/src/header-toggler/header-toggler.component.html
  libs/lib-client/context-panel/src/header-toggler/header-toggler.component.less
  libs/lib-client/context-panel/src/header-toggler/header-toggler.component.ts
  libs/lib-client/context-panel/src/header-toggler/toggle-icon.component.html
  libs/lib-client/context-panel/src/header-toggler/toggle-icon.component.less
  libs/lib-client/context-panel/src/header-toggler/toggle-icon.component.ts
  libs/lib-client/context-panel/src/index.ts
  libs/lib-client/context-panel/src/styles/_variables.less
  libs/lib-client/context-panel/src/styles/panel.less
  libs/lib-client/context-panel/src/test.ts
  libs/lib-client/context-panel/src/toggler-ref.service.ts
  libs/lib-client/context-panel/src/trigger/trigger.component.html
  libs/lib-client/context-panel/src/trigger/trigger.component.less
  libs/lib-client/context-panel/src/trigger/trigger.component.ts
  libs/lib-client/context-panel/src/variables.ts
  tsconfig.json
Labels: area/ui, comp(client)

#1119 Integrated the new header to the flows plugin
  libs/assets/assets/svg/bg-microservice.svg
  libs/assets/assets/svg/plugin-flows.svg
  libs/assets/styles/_variables.less
  libs/lib-client/header/src/lib/bottom-block.directive.ts
  libs/lib-client/header/src/lib/header.component.html
  libs/lib-client/header/src/lib/header.component.less
  libs/lib-client/header/src/lib/header.component.ts
  libs/lib-client/header/src/lib/header.module.ts
  libs/lib-client/logs/src/lib/logs.component.less
  libs/plugins/flow-client/src/lib/flow-tabs/flow-tabs.component.less
  libs/plugins/flow-client/src/lib/flow.component.html
  libs/plugins/flow-client/src/lib/flow.component.less
  libs/plugins/flow-client/src/lib/flow.component.ts
  libs/plugins/flow-client/src/lib/flow.module.ts
  libs/plugins/flow-client/src/lib/run-flow/run-flow.component.less
Labels: area/ui, comp(plugins/flow-client), kind/feature

#1125 Fix DB issues with object keys
  apps/server/src/common/db/apps.js
  apps/server/src/common/db/collections-registry.ts
  apps/server/src/common/db/db.spec.ts
  apps/server/src/common/db/db.ts
  apps/server/src/common/db/index.ts
  apps/server/src/config/app-config.js
  apps/server/src/configure-engines.ts
  apps/server/src/core/models/app.ts
  apps/server/src/injector/persistence/module.ts
  apps/server/src/modules/apps/app-importer.ts
  apps/server/src/modules/apps/apps-service.ts
  apps/server/src/modules/apps/common.ts
  apps/server/src/modules/apps/handlers-service.ts
  apps/server/src/modules/apps/tests/apps-service.spec.ts
  apps/server/src/modules/apps/tests/handlers-service.spec.ts
  apps/server/src/modules/apps/tests/triggers-service.spec.ts
  apps/server/src/modules/apps/tests/utils.ts
  apps/server/src/modules/apps/triggers.ts
  apps/server/src/modules/resources/prepare-update-query.spec.ts
  apps/server/src/modules/resources/prepare-update-query.ts
  apps/server/src/modules/resources/resource-service.ts
  apps/server/src/modules/resources/resource.repository.spec.ts
  apps/server/src/modules/resources/resource.repository.ts
  apps/server/src/modules/transfer/import/import-app.ts
  apps/server/src/modules/transfer/tests/samples/imported-app.ts
  apps/server/src/server.ts
  package.json
  yarn.lock
Labels: area/server, kind/bug, kind/feature

#1115 Use debian as base for docker image and build ML image
  .travis.yml
  make-web.sh
  tools/docker/Dockerfile
  tools/docker/ml.Dockerfile
Labels: area/build-and-ci
